.promoImg .img {
    max-width: 100%;
    padding: 0;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

.container {
    padding: 0 5.5rem;
}

.slider ul li {
    list-style: none;
    /* width: 50%;
    padding: 20px; */
}